
@model Test1.Models.Student
@{
    ViewBag.Title = "Create";
}

<h2>Create Student</h2>
<form action="/Student/Create" method="post">
    <input type="text" name="Id" value="@Model.Id" placeholder="xx-xxxxx-x" class="form-control"/>
    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    <input type="text" name="Dob" value="@Model.Dob" placeholder="@DateTime.Now" class="form-control" />
    @Html.ValidationMessageFor(model => model.Dob, "", new { @class = "text-danger" })
    <input type="submit" value="Submit" />

</form>

