@model MidLabTaskCRUD.Models.Database.News


@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="/News/Edit" method="post" class="card">
    <input type="hidden" name="Id" value="@Model.Id" placeholder="Name" class="form-control" />
    <input type="text" name="Title" value="@Model.Title" placeholder="Name" class="form-control" />
    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    <input type="text" name="Description" value="@Model.Description " placeholder=" name" class="form-control" />
    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    <input type="text" name="Category" value="@Model.Category" placeholder="Name" class="form-control" />
    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
    <input type="text" name="PublishDate" value="@Model.PublishDate" placeholder="Name" class="form-control" />
    @Html.ValidationMessageFor(model => model.PublishDate, "", new { @class = "text-danger" })
    <input type="submit" value="Submit" />

</form>